body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#app {
    padding: 20px;
    border: 2px solid gray;
    width: 500px;
}

input#todo-input {
    width: 90%;
    padding: 10px;
    border: 2px dashed #e77070;
    margin-bottom: 20px;
}